@page
@model Hangman.Pages.CatChooseModel
@{
    ViewData["Title"] = "CatChoose";
}
   
<div class="text-center">
    <div>
        <h1>TVŮJ OBĚŠENEC</h1>
        <img src="~/img/HM-all.svg" alt="all HangMan">
    </div>
    <div class="text">
        <h1>KATEGORIE SLOV</h1>
        <form method="post">
            <input class="btn btn-primary" type="submit" asp-for="Choice" value="@Hangman.Model.CategoryChoice.Sport" />
        </form>
        <form method="post">
            <input class="btn btn-primary" type="submit" asp-for="Choice" value="@Hangman.Model.CategoryChoice.Culture" />
        </form>
        <form method="post">
            <input class="btn btn-primary" type="submit" asp-for="Choice" value="@Hangman.Model.CategoryChoice.Music" />
        </form>
        <form method="post">
            <input class="btn btn-primary" type="submit" asp-for="Choice" value="@Hangman.Model.CategoryChoice.Movies" />
        </form>
        @if(Model.Choice != Hangman.Model.CategoryChoice.Default)
        {
            <a href="/Hangman" class="btn btn-success">yes</a>
        }
    </div>
</div>
