@page
@model Hangman.Pages.CatChooseModel
@{
    ViewData["Title"] = "CatChoose";
}
   
<div class="text-center">
    <div>
        <h1>TVŮJ OBĚŠENEC</h1>
        <img src="~/img/HM-all.svg" alt="all HangMan">
    </div>
    <div class="text">
        <h1>KATEGORIE SLOV</h1>
        @foreach (var item in Model.Categories)
        {
            <form method="post">
                <input class="btn btn-primary" type="submit" asp-for="Choice" value="@item.Key" />
            </form>
        }
    </div>
        @if(Model.Choice != Hangman.Model.CategoryChoice.Default)
        {
            <div>
                <p>"@Model.Choice" are you sure?</p>
                <a href="/Hangman" class="btn btn-success">Yes</a>
                <a href="/CatChoose" class="btn btn-success">No</a>
            </div>
        }
</div>
