@page
@model Hangman.Pages.HangmanModel
@{
    ViewData["Title"] = "Hangman";
}
    
    <div class="text-center">
        <form method="post">
            <input type="text" asp-for="Letter" value="@Model.Letter"/>
            <button class="btn btn-primary">Enter</button>
        </form>
    </div>
