@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <div class="text-center">
        <div>
            <img src="~/img/HM-complete.svg" alt="Complete HangMan">
        </div>
        <h1>HANGMAN</h1>
        <p>Zvládneš přežít <a>5</a> kol, nebo se budeš houpat na šibenici ?</p>
        <h2>Máš <a>7</a> životů...</h2>
        <form method="post">
            <button class="btn btn-primary" asp-page="/CatChoose" type="submit">Klikni Zde</button>
        </form>
    </div>

